.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 400px;
}

h1{
    color: white;
}
.box{
    display: grid;
    justify-self: center;
    background-color: white;
    margin-top: 150px;
    padding:30px;
    border-radius: 30px;
    width: 400px;
.nums{
    height: 79px;
    font-size: 20px;
    color: rgb(99, 98, 98);
    border-radius: 50%;
    border: none;
    background-color: rgb(239, 242, 246);;
    box-shadow: 2px 5px 5px rgb(226, 226, 226);
    transition: 0.3s ease;
}
.nums:hover{
    transform: scale(1.1);
    background-color: rgb(207, 155, 200);
    color: white;
}
    
.display{
    height: 50px;
    font-size: 60px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 2px 5px 5px rgb(212, 210, 210);
    padding-right:30px;
    border-radius: 40px;
    height: 80px;
    color: rgb(99, 98, 98);
    background-color: rgb(243, 247, 255);
    width: 370px;
    text-align: right;
}
}
body{
    background-color: rgb(224, 207, 224);
}
.last-row{
    display: grid;
    grid-template-columns: 1fr 1fr 190px;;
    gap: 22px;
    margin-top: 20px;
}
#equal{
    background-color: rgb(222, 177, 216);
    border-radius: 70px;;
}
#equal:hover{
    background-color: rgb(213, 210, 213);
}